<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', {title: product.name }) %>
<body>
    <%- include('partials/header') %>
    <main id="main-detail-product">
        <div class="div-titles-detail">
            <ul class="ul-titles-detail">
                <li><a href="#">INICIO</a></li>
                <i class="fas fa-angle-right"></i>
                <li><a href="#"><%= product.category.name.toUpperCase() %></a></li>
                <i class="fas fa-angle-right"></i>
                <li><%= product.name.toUpperCase() %></li>
            </ul>
        </div>
        <section class="section-detail-product">
            <h2><%= product.name.toUpperCase() %></h2>
            <article class="article-detail-product">
                <div class="div-img-detail">
                    <img src="/img/products/<%= product.image %> " alt="<%= product.name %>" class="img-width">
                </div>
                <div id="descripcion-price-product">
                    <% let finalPrice = toThousand((product.price - (product.price * product.discount / 100)).toFixed(0));%>
                    <% if (product.discount > 0) { 	%>
                        <p class="discount-detail">
                            <span><%= toThousand(product.price) %></span>
                            /
                            <b><%= product.discount %>% OFF</b>
                        </p>
                        <p class="price-detail">$<%= finalPrice %></p>
                    <% } else { %>
                        <p class="price-detail">$<%= finalPrice %></p>
                    <% } %>  
                    <div class="div-a-detail">
                        <a href="#">MEDIOS DE PAGO</a>
                    </div>
                </div>
            </article>
            <div>
                <form action="/cart" class="form-detail">
                    <button type="submit" class="button-detail-add">AGREGAR AL CARRITO</button>
                </form>
            </div>
            <div class="description-detail-product">
                <h4>DESCRIPCIÓN</h4>
                <p><%= product.description %></p>
            </div>
            <div class="features-detail">
                <div class="features-color">
                    <h4>Color:</h4>
                    <p><%= product.color.name.toUpperCase() %></p>
                </div>
                <div class="features-size">
                    <h4>Tamaño:</h4>
                    <p><%= product.size.name.toUpperCase() %></p>
                </div>
            </div>
            <div class="div-edit-delete">
                <a href="/products/edit/<%= product.id %>">EDITAR PRODUCTO</a>
                <form action="/products/<%= product.id %>?_method=DELETE" method="POST">
                    <button type="submit">ELIMINAR</button>
                </form>
            </div>
        </section>
        <hr>
        <section class="section-comment-detail">
            <div>
                <form action="#" method="GET" class="form-comment-detail">
                    <textarea name="comentario" id="comentario" cols="30" rows="10" placeholder="AGREGAR UN COMENTARIO" class="area-comment-deatil"></textarea>
                    <button type="submit">Enviar</button>
                </form>
            </div>
        </section>
        <section class="related-products">
            <h3>PRODUCTOS RELACIONADOS</h3>
            <div class="box-products-detail">
                <% relatedProducts.forEach(product => { 
                    let finalPrice = product.price - (product.price * product.discount / 100); 
                    %>
                    <article class="article-productsList">
                        <a href="/products/detail/<%= product.id %>">
                            <img src="/img/products/<%= product.image %> " alt="<%= product.name %>" class="img-width">
                            <div id="description-product">
                                <i class="fas fa-truck"></i>
                                <h4 class="name-product"><%= product.name %></h4>
                                <p class="price hidden-product">$<%= toThousand(finalPrice.toFixed(0)) %></p>
                                <% if(product.discount > 0) { %>
                                    <p class="discount hidden-product"><%= product.discount %>% off</p>
                                <% } %>
                            </div>
                        </a>
                    </article>
                <% }) %>                
            </div>
        </section>
        <hr>
        <%- include('partials/infoShop') %>
    </main>
    <%- include('partials/footer') %>
</body>
</html>