<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', {title: 'Editando:' + productToEdit.name}) %>
<body>
    <%- include('partials/headerCreate') %>
    <main id="main-productCreate">
        <section id="section-title-productCreate">
            <h2>ESTAS EDITANDO: <%= productToEdit.name %> </h2>
        </section>
        <section id="section-form-productCreate">
            <form action="/products/<%= productToEdit.id %>?_method=PUT" method="POST" enctype="multipart/form-data" class="form-productCreate">
                <div class="div-informationproduct">
                    <div id="div-name-productCreate">
                        <label>Nombre del producto:</label>
                        <input type="text" name="name" value="<%= productToEdit.name %>" id="name-newproduct" placeholder="Nombre del producto">
                        <% if (locals.errors && errors.name) {%>
                            <div class="text-danger"><i class="fas fa-exclamation-triangle"></i><%= errors.name.msg %></div>
                        <% } %>
                    </div>
                    <h4>Fotos *</h4>
                    <div id="div-photo-productCreate">
                        <label>Añadir una foto:</label>
                        <input type="file" name="image"  class="input-photo-product">
                        <% if (locals.errors && errors.image) {%>
                            <div class="text-danger"><i class="fas fa-exclamation-triangle"></i><%= errors.image.msg %></div>
                        <% } %>
                    </div>
                    <h4>Información del Producto</h4>
                    <div id="div-description-productCreate">
                        <label>Descripcion:</label>
                        <textarea name="description" class="textarea-description"><%= productToEdit.description %></textarea>
                        <% if (locals.errors && errors.description) {%>
                            <div class="text-danger"><i class="fas fa-exclamation-triangle"></i><%= errors.description.msg %></div>
                        <% } %>
                    </div>
                </div>
                <div class="div-features">
                    <div id="div-categories-productCreate">
                        <label>Seleccione Categoría:</label>
                        <% categories.forEach(category => { %>
                            <input type="radio" name="categoryId" value="<%= category.id %>"  class="input-categories" <%= productToEdit.categoryId == category.id ? 'checked' : ''%> ><%= category.name.toUpperCase() %><label></label>
                        <% }) %>
                        <% if (locals.errors && errors.categoryId) { %>
                            <div class="text-danger"><i class="fas fa-exclamation-triangle"></i><%= errors.categoryId.msg %></div>
                        <% } %>
                    </div>
                    <div id="div-add-category-productCreate">
                        <label>Agregar Catergoria:(Opcional)</label>
                        <input type="text" name="newcategory" class="input-newcategory">
                    </div>
                    <!-- variantes -->
                    <h4 id="h4-variants">Variantes</h4>
                    <div id="div-variants-productCreate">
                        <div id="color-variant">
                            <label>Color:</label>
                            <select name="colorId">
                                <% colors.forEach(color => { %>
                                    <option value="<%= color.id %> " <%= productToEdit.colorId == color.id ? 'selected' : '' %>><%= color.name.toUpperCase() %> </option>
                                <% }) %>
                            </select>
                            <% if (locals.errors && errors.colorId) { %>
                                <div class="text-danger"><i class="fas fa-exclamation-triangle"></i><%= errors.colorId.msg %></div>
                            <% } %>
                        </div>
                        <div id="size-variant">
                            <label>Tamaño:</label>
                            <select name="sizeId">
                                <% sizes.forEach(size => { %>
                                    <option value="<%= size.id %> " <%= productToEdit.sizeId == size.id ? 'selected' : ''%> ><%= size.name.toUpperCase() %> </option>
                                <% }) %>
                            </select>
                            <% if (locals.errors && errors.sizeId) { %>
                                <div class="text-danger"><i class="fas fa-exclamation-triangle"></i><%= errors.sizeId.msg %></div>
                            <% } %>
                        </div>
                    </div>
                </div>
                <div class="div-inventory">
                    <h4 id="h4-price">Inventario y Precio</h4>
                <div id="div-price-productCreate">
                    <div id="price-productCreate">
                        <label>Precio:</label>
                        <input type="text" name="price" value="<%= productToEdit.price %>" >
                        <% if (locals.errors && errors.price) { %>
                            <div class="text-danger"><i class="fas fa-exclamation-triangle"></i><%= errors.price.msg %></div>
                        <% } %>
                    </div>
                    <div id="price-productCreate">
                        <label>Descuento:</label>
                        <input type="text" name="discount" value="<%= productToEdit.discount %>" >
                        <% if (locals.errors && errors.discount) { %>
                            <div class="text-danger"><i class="fas fa-exclamation-triangle"></i><%= errors.discount.msg %></div>
                        <% } %>
                    </div>
                    <div id="stock-productCreate">
                        <label>Stock:</label>
                        <input type="number" name="stock" value="<%= productToEdit.stock %>">
                        <% if (locals.errors && errors.stock) { %>
                            <div class="text-danger"><i class="fas fa-exclamation-triangle"></i><%= errors.stock.msg %></div>
                        <% } %>
                    </div>
                </div>
                </div>
                <div class="div-buttons">
                    <div id="buttons-productsCreate">
                        <button type="reset" class="design-button-productCreate">BORRAR</button>
                        <button type="submit" class="design-button-productCreate">CONFIRMAR</button>
                        <a href="/products" class="design-button-productCreate">CANCELAR</a>
                    </div>
                </div>
            </form>
        </section>
    </main>
    <%- include('partials/footerUsers') %>
</body>
</html>