<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', {title: 'Inicio - Macramé Rose'}) %>
<body>
    <%- include('partials/header') %>
  
        <!--<img src="/img/banner-almohadones-2.jpg" alt="banner-almohadones">-->
        <!--image slider start-->
        
        <div class="carousel">
            <div class="carousel-inner">
                <input class="carousel-open" type="radio" id="carousel-1" name="carousel" aria-hidden="true" hidden="" checked="checked">
                    <div class="carousel-item">
                        <img src="/img/banner-hilos.jpg" class="img-width">
                        <h4 class="subtitle">INSPIRATE CON MACRAMÉ ROSE</h4>
                    </div>
                <input class="carousel-open" type="radio" id="carousel-2" name="carousel" aria-hidden="true" hidden="">
                    <div class="carousel-item">
                        <img src="/img/banner-almohadones-2.jpg" class="img-width">
                        <h4 class="subtitle2">SHOP ONLINE 18 Cuotas sin interés</h4>
                    </div>
                <input class="carousel-open" type="radio" id="carousel-3" name="carousel" aria-hidden="true" hidden="">
                    <div class="carousel-item">
                        <img src="/img/banner-portamacetas-6.jpg" class="img-width">
                        <h4 class="subtitle">ENVÍOS A TODO EL PAÍS</h4>
                    </div>
                        <label for="carousel-3" class="carousel-control prev control-1">‹</label>
                        <label for="carousel-2" class="carousel-control next control-1">›</label>
                        <label for="carousel-1" class="carousel-control prev control-2">‹</label>
                        <label for="carousel-3" class="carousel-control next control-2">›</label>
                        <label for="carousel-2" class="carousel-control prev control-3">‹</label>
                        <label for="carousel-1" class="carousel-control next control-3">›</label>
                <ol class="carousel-indicators">
                    <li>
                        <label for="carousel-1" class="carousel-bullet">•</label>
                    </li>
                    <li>
                        <label for="carousel-2" class="carousel-bullet">•</label>
                    </li>
                    <li>
                        <label for="carousel-3" class="carousel-bullet">•</label>
                    </li>
                </ol>
            </div>
        </div>
        
   
    <main id="main">
        <section id="categories">
            <h3>PRINCIPALES CATEGORÍAS</h3>
            <div id="box-categories">
                <% categories.forEach(category => { %>
                    <article class="product-category">
                        <img src="/img/products/<%= category.image %>" alt="<%= category.name %>" class="img-width">
                        <a href="/categories/<%= category.id %> "><h4><%= category.name.toUpperCase() %></h4></a>
                    </article>
                <% }) %>
                
            </div>
        </section>
        <section id="featured-products">
            <h3>PRODUCTOS DESTACADOS</h3>

            <div id="box-products">

                <% featured.forEach(product => { 
                    let finalPrice = product.price - (product.price * product.discount / 100); 
                    %>
                    <article class="article-product">
                        <a href="/products/detail/<%= product.id %>">
                            <img src="/img/products/<%= product.image %> " alt="<%= product.name %>" class="img-width">
                                
                            <div id="description-product">
                                <i class="fas fa-truck"></i>
                                <h4 class="name-product"><%= product.name %></h4>
                                <p class="price hidden-product">$<%= toThousand(finalPrice.toFixed(0)) %> </p>
                                <% if(product.discount > 0) { %>
                                    <p class="discount hidden-product"><%= product.discount %>% off</p>
                                <% } %>
                            </div>
                        </a>
                    </article>
                <% }) %>

            </div>
            <h3>OFERTAS</h3>
            <div id="box-products">
                <% inSale.forEach(product => { 
                    let finalPrice = product.price - (product.price * product.discount / 100); 
                    %>
                    <article class="article-product">
                        <a href="/products/detail/<%= product.id %>">
                            <img src="/img/products/<%= product.image %> " alt="<%= product.name %>" class="img-width">
                                
                            <div id="description-product">
                                <i class="fas fa-truck"></i>
                                <h4 class="name-product"><%= product.name %></h4>
                                <p class="price hidden-product">$<%= toThousand(finalPrice.toFixed(0)) %> </p>
                                <p class="discount hidden-product"><%= product.discount %>% off</p>
                                
                            </div>
                        </a>
                    </article>
                <% }) %>
            </div>
            

            <div class="div-allproducts">
                <a href="/products"> VER TODOS LOS PRODUCTOS</a>
            </div>

        </section>     
                
        <hr>
        <%- include('partials/infoShop') %>
    </main>
    <%- include('partials/footer') %>
</body>

</html>