<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', {title: 'Inicio - Macramé Rose'}) %>
<body>
    <%- include('partials/header') %>
    <section id="banner">
        <img src="/img/banner-almohadones-2.jpg" alt="banner-almohadones">
    </section>
    <main id="main">
        <section id="categories">
            <h3>PRINCIPALES CATEGORÍAS</h3>
            <div id="box-categories">
                <article class="product-category">
                    <img src="/img/products/portamaceta3.jpg" alt="portamaceta3" class="img-width">
                    <a href="#"><h4>PORTA MACETAS</h4></a>
                </article>
                <article class="product-category">
                    <img src="/img/products/almohadon5.jpg" alt="almohadon5" class="img-width">
                    <a href=""><h4>ALMOHADONES</h4></a>
                </article>
                <article class="product-category">
                    <img src="/img/products/espejo5.jpg" alt="espejo5" class="img-width">
                    <a href=""><h4>ESPEJOS</h4></a>
                </article>
                <article class="product-category">
                    <img src="/img/products/cortina3.jpg" alt="cortina3" class="img-width">
                    <a href=""><h4>CORTINAS</h4></a>
                </article>
                <article class="product-category">
                    <img src="/img/products/adorno4.jpg" alt="adorno4" class="img-width">
                    <a href=""><h4>ADORNOS</h4></a>
                </article>
                <article class="product-category">
                    <img src="/img/products/bolso2.jpg" alt="bolso2" class="img-width">
                    <a href=""><h4>BOLSOS Y CARTERAS</h4></a>
                </article>
                <article class="product-category">
                    <img src="/img/products/accesorio1.jpg" alt="accesorio1" class="img-width">
                    <a href=""><h4>ACCESORIOS</h4></a>
                </article>
            </div>
        </section>
        <section id="featured-products">
            <h3>PRODUCTOS DESTACADOS</h3>

            <div id="box-products">

                <% featured.forEach(product => { 
                    let finalPrice = product.price - (product.price * product.discount / 100); 
                    %>
                    <article class="article-product">
                        <a href="/products/detail/<%= product.id %>">
                            <img src="/img/products/<%= product.image %>" alt="<%= product.name %>" class="img-width">
                            <div id="description-product">
                                <i class="fas fa-truck"></i>
                                <h4 class="name-product"><%= product.name %></h4>
                                <p class="price hidden-product">$<%= toThousand(finalPrice.toFixed(0)) %> </p>
                                <% if(product.discount > 0) { %>
                                    <p class="discount hidden-product"><%= product.discount %>% off</p>
                                <% } %>
                            </div>
                        </a>
                    </article>
                <% }) %>

            </div>
            <h3>OFERTAS</h3>

            <div id="box-products">

                <% inSale.forEach(product => { 
                    let finalPrice = product.price - (product.price * product.discount / 100); 
                    %>
                    <article class="article-product">
                        <a href="/products/detail/<%= product.id %>">
                            <img src="/img/products/<%= product.image %>" alt="<%= product.name %>" class="img-width">
                            <div id="description-product">
                                <i class="fas fa-truck"></i>
                                <h4 class="name-product"><%= product.name %></h4>
                                <p class="price hidden-product">$<%= toThousand(finalPrice.toFixed(0)) %> </p>
                                <% if(product.discount > 0) { %>
                                    <p class="discount hidden-product"><%= product.discount %>% off</p>
                                <% } %>
                            </div>
                        </a>
                    </article>
                <% }) %>

            </div>

            <div class="div-allproducts">
                <a href="/products"> VER TODOS LOS PRODUCTOS</a>
            </div>

        </section>     
                
        <hr>
        <%- include('partials/infoShop') %>
    </main>
    <%- include('partials/footer') %>
</body>
</html>