<!DOCTYPE html>
<html lang="en">
<%- include('partials/head',{title: 'Profile - Macramé Rose'}) %> 
<body>
    <%- include('partials/header') %> 
    <main class="main-profile">
        <section class="section-profile">
            <h2 class="greet-user">HOLA <%= user.name.toUpperCase() %>!</h2>
            <div class="div-img-profile">
                <img src="/img/avatars/<%= user.avatar %>" alt="<%= user.name %> ">
            </div>
            <div class="div-info-user">
                <h2><%= user.email %></h2>
            </div>
        </section>
        
        <%- include('partials/infoShop') %> 
    </main>
    <%- include('partials/footer') %> 
</body>
</html>